<div class="delay">
    <div class="popup px-5">
        <h1 class="text-center">Añade un cliente</h1>
        <form [formGroup]="myForm">
        
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ingresé el nombre del cliente" #input formControlName="first_name">
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Ingresé el apellido del cliente" #input formControlName="last_name">
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>DNI</mat-label>
                <input matInput placeholder="Ingresé el DNI del cliente" #input formControlName="dni">
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Ingresé la dirección del cliente" #input formControlName="client_address">
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label type="number" >Nro. Teléfono</mat-label>
                <input matInput placeholder="Ingresé el teléfono del cliente" #input formControlName="no_phone">
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label type="number" >Nro. Créditos</mat-label>
                <input matInput placeholder="Ingresé la cantidad de créditos" #input formControlName="credit">
            </mat-form-field><br>
     
            <mat-form-field appearance="standard" class="w-100">
                <mat-label >Foto</mat-label>
                <input matInput placeholder="URL Foto" #input formControlName="photo">
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-50">
                <mat-label>Seleccione una fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="pay_date">
                <mat-hint>MM/DD/AAAA</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span class="morosidad"> 
             <label>Morosidad: </label>
             <mat-radio-group formControlName="morosidad">
                    <mat-radio-button value="SI" class="moro-op">Si</mat-radio-button>
                    <mat-radio-button value="NO" class="moro-op">No</mat-radio-button>
            </mat-radio-group>
            </span>
          <br><br>

            <div class="d-flex justify-content-between">
                <button mat-raised-button routerLink="/dashboard/1/clientes">Cancelar</button>
                <button mat-raised-button (click)="addCliente()">Agregar</button>
            </div>
        </form>
    </div>
</div>