<app-navbar></app-navbar>
<div class="container">
  <div class="row align-items-center fila">
    <div class="col mx-5">
      <h3 class="row titulo" style="max-width: 500px">Nivel de ventas</h3>
      <div class="row contenido">
        <div id="myColumnChart"></div>
      </div>
    </div>
  </div>

  <div class="row fila">
    <div class="col mx-5">
      <h3 class="row titulo">Productos más vendidos</h3>
      <h6 class="row">hoy</h6>
      <div class="row contenido_2">
        <div class="col-5 text-start"><h5>Atún Gloria</h5></div>
        <div class="col-2 text-center"><h5>S/ 298</h5></div>
        <div class="col-2 text-center"><h5>68 u</h5></div>
        <div class="col-2 text-center">
          <img
            class="person-img"
            src="https://plazavea.vteximg.com.br/arquivos/ids/6876866-1000-1000/20124082.jpg"
            alt="Atun"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-5 text-start"><h5>Arroz Costeño 5kg</h5></div>
        <div class="col-2 text-center"><h5>S/ 262</h5></div>
        <div class="col-2 text-center"><h5>13 u</h5></div>
        <div class="col-2 text-center">
          <img
            class="person-img"
            src="https://plazavea.vteximg.com.br/arquivos/ids/554165-1000-1000/641425.jpg?v=637426577652870000"
            alt="Atun"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-5 text-start"><h5>Leche Gloria Azul</h5></div>
        <div class="col-2 text-center"><h5>S/ 150</h5></div>
        <div class="col-2 text-center"><h5>15 u</h5></div>
        <div class="col-2 text-center">
          <img
            class="person-img"
            src="https://wongfood.vteximg.com.br/arquivos/ids/363948-750-750/59521001-01-65.jpg?v=637279704140170000"
            alt="Atun"
          />
        </div>
      </div>
    </div>
    <div class="col mx-5">
      <h3 class="row titulo">Clientes relevantes</h3>
      <h6 class="row">total vendido</h6>
      <div class="row contenido_2">
        <div class="col-6 text-start"><h5>Luis Ochoa Dual</h5></div>
        <div class="col-3 text-center"><h5>S/ 3202</h5></div>
        <div class="col-3 text-center">
          <img
            class="person-img"
            src="https://i.postimg.cc/Wb0xHF2j/unnamed.jpg"
            alt="Jorge"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-6 text-start"><h5>Marle Lazaro Guevara</h5></div>
        <div class="col-3 text-center"><h5>S/ 1892</h5></div>
        <div class="col-3 text-center">
          <img
            class="person-img"
            src="https://i.postimg.cc/x1Rh9wJ4/LJ2i-INqn-400x400.jpg"
            alt="Sara"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-6 text-start"><h5>Slowly Gonzáles Perez</h5></div>
        <div class="col-3 text-center"><h5>S/ 1799</h5></div>
        <div class="col-3 text-center">
          <img
            class="person-img"
            src="https://i.postimg.cc/521Dd40z/681dc79816ab761e70b9ee3317d7ae71.jpg"
            alt="Ale"
          />
        </div>
      </div>
    </div>
  </div>
</div>
