<app-navbar></app-navbar>
<div class="container">
    <br>
    <br>
    <h4 *ngIf="id_producto==0">Inventario| Añadir</h4>
    <h4 *ngIf="id_producto!=0">Inventario | Editar</h4>
    <br>
    <br>
    <form [formGroup]="myForm">
        <div class="row">
            <div class="col-md-6 px-5">
                <br>
                <br>
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Nombre del producto</mat-label>
                    <input matInput placeholder="Producto" #input formControlName="nombre">
                </mat-form-field><br>
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Marca</mat-label>
                    <input matInput placeholder="Producto" #input formControlName="marca">
                </mat-form-field><br>
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Descripcion</mat-label>
                    <input matInput placeholder="Producto" #input formControlName="descripcion">
                </mat-form-field><br>
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Unidades</mat-label>
                    <input matInput placeholder="Producto" #input formControlName="unidades" type="number">
                </mat-form-field><br>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{url}}" alt="img" class="img-producto">
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Precio</mat-label>
                    <input matInput placeholder="Producto" #input formControlName="precio" type="number">
                </mat-form-field><br>
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Url</mat-label>
                    <input matInput placeholder="Producto" #input formControlName="url">
                </mat-form-field><br>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button mat-raised-button color="accent" class="ms-4" routerLink="/dashboard/{{id}}/inventario">Cancelar</button>
                <button mat-raised-button color="primary"  (click)="addProducto()" [disabled]="myForm.invalid">Listo</button>
            </div>
        </div>
    </form>
</div>